<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<httpProtocol>
	  <customHeaders>
	    <add name="Access-Control-Allow-Origin" value="*" />
	  </customHeaders>
	</httpProtocol>  
	<rewrite>
		<rules>
			<rule name="brmrule" stopProcessing="true">
				<match url="brm/?$" />
				<action type="Redirect" url="brm/home/index.html" appendQueryString="true" />
			</rule>
		</rules>
	</rewrite>
    </system.webServer>
</configuration>